.info-section-container {
    padding: 35px;
}

.info-section-title {
    text-transform: capitalize;
    color: #333333;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 2px solid #333333;
}

.content-box {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    margin-bottom: 25px;
}

.content-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 15px;
}

.content-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}

.content-title {
    font-weight: 600;
    font-size: 18px;
}

.content-inst {
    color: #333333;
}
