.add-button-container {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-item {
    border-bottom: 1px solid #a5a5a5;
}

.list-item-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.list-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
}

.item-title {
    font-size: 18px;
    font-weight: 600;
}